.services-container {
  .wp-block-column > div,
  .wp-block-column > div:nth-child(2) {
    border: 1px solid var(--Light-Medium-Grey, #d4d4d4);
    height: 100%;
    border-radius: 4px;
    padding: 40px 48px;
  }
}
