@import '../variables.scss';

.projects-page-container {
  outline: none; /* Removes the default focus outline */
  border: none; /* Removes any border that may appear */
  box-shadow: none; /* Removes any box-shadow */
  text-decoration: none; /* Removes underline from links */

  .taxonomy-term-link:focus {
    outline: none;
  }
  .pill-outline:has(.taxonomy-term-link.active) {
    background-color: $primary-blue;
    border: none;
    a {
      color: white;
    }
  }
  .project-card-link {
    text-decoration: none;
  }
  .projects-container {
    transition: opacity 0.5s ease-in-out; /* Change 0.5s to your desired duration */
    opacity: 1;
  }
  .projects-container.fade-out {
    opacity: 0;
  }
  .projects-container.fade-in {
    opacity: 1;
  }
  /* Container that spans the full width of the screen */
  .project-card-container {
    width: 100%;
    padding: 1rem; /* Adds padding around the card */
    box-sizing: border-box; /* Ensures padding is included in the width */
  }

  /* Card styling */
  .project-card {
    display: flex; /* Align items horizontally */
    align-items: center; /* Center vertically within the card */
    justify-content: space-between; /* Space between the title and the image */
    background-color: #ffffff; /* Card background color */
    border: 1px solid #ddd; /* Border around the card */
    border-radius: 8px; /* Rounded corners for the card */
    padding: 1rem; /* Padding inside the card */
    box-shadow: 0 2px 4px rgba;
    text-decoration: none;
    h1 {
      margin: 0px;
    }
    ul {
      padding: 0px;
    }
    p {
      color: $medium-grey;
    }
  }
  .project-card:hover {
    background-color: $hover-grey;
  }
  @media screen and (max-width: 768px) {
    .project-card {
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
